

.container { 
    display: none; 
    animation: fade-in 2s;
    width: 260px;
    height: auto;
    position: relative;
    
    
    
} 
.emphasis {
    font-weight:  bold;
}
  
.no-box { 
    text-align: left;
    
    font-size: 1rem; 
    position: absolute;
    background-color: rgb(255 255 255/70%);
    border-radius: 60px;
    padding: 20px; 
    width: 200px;
  
} 

@keyframes fade-in {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1; 
    }
}
body {
    margin-top: 200px; 
    margin-left: 640px;
    margin-right: 600px;
    text-align: center;
    background-image:   url('Images/greeting_face.png'), url('Images/star_pattern.jpg');
    background-repeat: no-repeat, repeat; 
    background-position:  370px 0px, center;
    background-size: 900px 700px, auto; 
    background-attachment: fixed;
}
.heading { 
    color: red;
    font-size: 30px; 
    font-weight: bold;
}
  
.prev { 
    display: none;
    position:absolute;
    background-color: rgb(179, 179, 179); 
} 
  
.prev:hover { 
    color: white; 
    background-color: green; 
}

.next { 
    
    position: absolute;
    margin-left: 50px;

    background-color: rgb(179, 179, 179); 
} 
  
.next:hover { 
    color: white; 
    background-color: green; 
    
}